<launch>
  <arg name="left_camera_info_url" default=""/>
  <arg name="right_camera_info_url" default=""/>
  <node pkg="orsens" type="orsens_node" name="orsens"  output="screen" respawn="true">
    <param name="capture_mode" value="left_right"/>
    <param name="color_width" value="640"/>
    <param name="data_path" value="$(find orsens)/data"/>
    <param name="compress_color" value="false"/>
    <param name="left_camera_info_url" value="file://$(arg left_camera_info_url)"/>
    <param name="right_camera_info_url" value="file://$(arg right_camera_info_url)"/>
  </node>
  <node pkg="image_view" type="image_view" name="left">
    <remap from="image" to="orsens/left/image_raw" />
    <param name="autosize" value="true" />
  </node>
  <node pkg="image_view" type="image_view" name="right">
    <remap from="image" to="orsens/right/image_raw" />
    <param name="autosize" value="true" />
  </node>
</launch>
